<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']" >Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']"  >Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']" >Messages</a>
      </li>
      <!--  
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    -->
    </ul>

    <div class="dropdown" *ngIf="loggedIn()" dropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        Welcome, {{authService.decodedToken.unique_name | titlecase}}!
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" *ngIf="!loggedIn()">
      <input class="form-control mr-sm-2" type="text" name="username" #username="ngModel" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" #password="ngModel" placeholder="Password" required [(ngModel)]="model.password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>

</nav>